footer
    position relative
    bottom 0 
    width 100%
    height auto
    margin 0
    background #313F48
    z-index 2
    padding 35px 0 20px 0
    .centralizado
        width 1200px
        height auto
        margin 0 auto
        padding-bottom 20px
        display flex
        flex-direction row
        align-items flex-start
        justify-content space-between
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
            align-items center
        div.parte-um
            margin 0 0 0 25px
            +below($tablet)
                margin 0
            .logo-footer
                width auto
                height auto
                margin 0
                img.img-logo
                    width 160px
                    height auto
                    &:hover
                        opacity 0.7
            .social
                display flex
                align-items center
                justify-content flex-end
                margin-top 40px
                +below($tablet)
                    margin-top 30px
                +mobile()
                    margin 20px 0
                    justify-content center
                .facebook, .instagram, .linkedin
                    margin 0 0 0 7px
                    +below($tablet)
                        margin 0 0 0 5px
                    img 
                        transition transform 0.2s
                        width 30px
                        height 30px
                        +below($tablet)
                            width 25px
                            height 25px
                    &:hover
                        img 
                            transform rotate(360deg) scale(1.3)
        div.parte-dois, div.parte-tres, div.parte-quatro
            display flex
            flex-direction column
            align-items flex-start
            +mobile()
                align-items center
            .nav-footer
                margin 15px 0 5px 0
                montserrat(14)
                font-weight 600
                color #FFF
                +below($tablet)
                    font-size 12px
                    margin 10px 0 5px
                +mobile()
                    text-align center
                &:hover
                &.active
                    color #31A2BA
            .submenu-footer, .submenu-footer-texteis-tecnicos, .submenu-footer-informacao, .submenu-footer-naotecidos
                margin 4.5px 0
                roboto(14)
                color #FFF
                +below($tablet)
                    font-size 12px
                    margin 4px 0
                +mobile()
                    text-align center
                &:hover
                &.active
                    color #31A2BA
        div.parte-dois
            max-width 22%
            margin-left 3%
            +below($tablet)
                margin-left 0
            +mobile()
                max-width 100%
            .link-home
                margin 10px 0
            .link-associados
                margin 30px 0 5px 0
                +below($tablet)
                    margin 20px 0 5px 0
        div.parte-tres
            max-width 22%
            margin-left -4%
            +mobile()
                max-width 100%
                margin 10px 0 0 0
            .nav-footer
                margin 10px 0 5px 0
            .link-txt-tec
                margin 30px 0 5px 0
                +below($tablet)
                    margin 20px 0 5px 0
        div.parte-quatro
            max-width 15%
            +mobile()
                max-width 100%
                margin 10px 0 0 0
            .nav-footer
                margin 10px 0 5px 0
            .link-novidades
                margin 30px 0
                +below($tablet)
                    margin 20px 0
            .link-contato
                margin 5px 0 10px 0
                +below($tablet)
                    margin 5px 0
            .telefone
                margin 0 
                roboto(16)
                font-weight 600
                color #FFF
                +below($tablet)
                    font-size 14px
                &:hover
                    color #31A2BA
            .email
                margin 20px 0
                roboto(16)
                color #FFF
                +below($tablet)
                    font-size 14px
                    margin 15px 0
                &:hover
                    color #31A2BA
            .endereco
                margin 0 0 30px 0
                roboto(15)
                color #FFF
                line-height 1.2
                +below($tablet)
                    font-size 14px
                    margin 0 0 20px 0
                +mobile()
                    margin 0 10px 20px 10px
                    text-align center
    .linha-footer
        width 1300px
        margin 0 auto
        border 1px solid #31A2BA
        +below($tablet)
            width 90%
    .direitos
        width 1300px
        margin 15px auto 0 auto
        +below($tablet)
            width 90%
        +mobile()
            margin 10px auto 0 auto
        .empresa, .trupe
            margin 0
            roboto(11)
            color #31A2BA
            text-align center
            +mobile()
                font-size 10px
            .link-trupe
                &:hover
                    color #FFF
