header
    width 100%
    height 165px
    margin 0
    top 0
    left 0
    position relative
    +below($tablet)
        width 100%
        height 160px
        margin 0
    +mobile()
        height 120px
    .bg
        width 100%
        height 100%
        position absolute
        top 0
        left 0
        z-index 2
        .bg-img
            width 100%
            height 100%
            object-fit cover
    .header-center
        display flex
        flex-direction column
        align-items flex-end
        width 1300px
        height 100%
        margin 0 auto
        padding-top 5px
        z-index 9
        position relative
        +below($tablet)
            width 100%
            padding-top 0
        .logo
            height 110px
            margin 40px 85px 0 0
            +below($tablet)
                margin 40px calc("60px + 5%") 0 0
            +mobile()
                margin 30px 5% 0 0 !important
            .img-logo
                width 250px
                height auto
                transition .3s ease
            &:hover
            &:focus
                .img-logo
                    opacity 0.8
        nav
            height 50px
            width 100%
            padding 0
            +below($tablet)
                position absolute
                display none
                background-color #4040D9
                width 100%
                height auto
                top 40px
                padding 0 0 50px 0
                z-index 99
            +mobile()
                top 30px !important
            div.itens-menu
                height 100%
                display flex
                flex-direction row
                align-items center
                justify-content center
                +below($tablet)
                    width 90%
                    margin 30px auto 0 auto
                    flex-direction column
                    align-items flex-end
                a.nav-link
                    padding 0
                    margin 0 15px
                    montserrat(14)
                    font-weight 600
                    color #FFF
                    position relative
                    text-transform uppercase
                    .link-hover
                        display none
                    &:hover
                    &:focus 
                    &.active
                    &.sub-active
                        color #31BEDA
                        .link-hover
                            display block
                            font-size 15px
                            position absolute
                            top -20px
                            font-weight 500
                            margin 0 50%
                    +below($tablet)
                        margin 8px 0
                        &:hover
                        &:focus 
                        &.active
                            .link-hover
                                font-size 13px
                                top 0
                                right -10px
                                margin 0
                ul.submenu-associados, ul.submenu-informacao, ul.submenu-naotecidos, ul.submenu-texteis-tecnicos, ul.submenu-a-abint
                    width auto
                    height auto
                    padding 8px 20px
                    margin 0
                    border 1px solid #21A8D8
                    background-color #31BEDA
                    list-style none
                    list-style-position outside
                    position absolute
                    top 40px
                    +below($tablet)
                        width 75%
                        left 0
                        padding 8px 5%
                        z-index 2
                        display flex
                        flex-direction column
                        align-items flex-end
                    +mobile()
                        width 50%
                    > li
                        margin 7px 0
                        +below($tablet)
                            margin 5px 0
                            text-align right
                        .submenu-link
                            montserrat(14)
                            color #4040D9
                            font-weight 600
                            transition .3s ease
                            +mobile()
                                font-size 12px
                            &:hover
                            &:focus
                            &.active
                                color #FFF
                ul.submenu-a-abint
                    left 12%
                    +below($tablet)
                        left 0
                        top 40px
                ul.submenu-associados
                    left 19%
                    +below($tablet)
                        left 0
                        top 70px
                    +mobile()
                        top 60px
                ul.submenu-naotecidos
                    left 28.9%
                    +below($tablet)
                        left 0
                        top 100px
                    +mobile()
                        top 80px
                ul.submenu-texteis-tecnicos
                    left 38.8%
                    +below($tablet)
                        left 0
                        top 130px
                    +mobile()
                        top 100px
                ul.submenu-informacao
                    left 52%
                    +below($tablet)
                        left 0
                        top 160px
                    +mobile()
                        top 120px
                .social
                    margin 0 18px
                    font-size 0
                    padding 0
                    height 100%
                    display flex
                    align-items center
                    +below($tablet)
                        margin 8px 0
                    .facebook, .instagram, .linkedin
                        padding 0 3px
                        display inline-block
                        +below($tablet)
                            padding 0 0 0 6px
                        .img-social
                            width 20px
                            height 20px
                            transition transform 0.2s
                        &:hover
                            img 
                                transform rotate(360deg) scale(1.3)
                .lupa-header
                    margin 0 18px
                    height 100%
                    display flex
                    align-items center
                    +below($tablet)
                        margin 8px 0
                    .img-lupa
                        width 20px
                        height 20px
                    &:hover
                    &:focus
                        opacity 0.7
                .campo-busca
                    width 100%
                    position absolute
                    z-index 999
                    +below($tablet)
                        width 90%
                        margin 0 auto
                        bottom 15px
                    > input[type=text]
                        width 1200px
                        height 90px
                        position relative
                        margin 0 auto
                        top 35px
                        border 1px solid #313F48
                        border-radius 15px
                        montserrat(24, medium)
                        color #313F48
                        outline none
                        padding 0 40px
                        +below($tablet)
                            width 100%
                            top -15px
                        +mobile()
                            font-size 16px !important
                        +placeholder()
                            montserrat(24, medium)
                            color #313F48
                            +mobile()
                                font-size 16px !important
                    .lupa-campo
                        width 50px
                        height 50px
                        position relative
                        top 45px
                        right 80px
                        border none 
                        background-color transparent
                        cursor pointer
                        outline none
                        +below($tablet)
                            width 40px
                            height 40px
                            position absolute
                            top 10px
                            right 30px
                        +mobile()
                            width 30px
                            height 30px
                            top 15px
                        .img-campo-lupa
                            width 35px
                            position relative
                            top 0
                            right 0
                            +below($tablet)
                                width 30px
                            +mobile()
                                width 25px
                        &:hover
                        &:focus
                            .img-campo-lupa
                                opacity 0.7
                .idiomas
                    margin 0 18px
                    padding 0
                    height 100%
                    display flex
                    align-items center
                    +below($tablet)
                        margin 8px 0
                    .idiomas-titulo
                        montserrat(12)
                        font-weight 600
                        color #FFF
                        float left
                        height 20px
                        cursor pointer
                        text-transform uppercase
                        display flex
                        align-items center
                        border 0.5px solid #b2b2b2
                        padding 2px
                        width 36px
                        .img-idiomas
                            margin-left 5px
                        &:hover
                            color #31BEDA
                    .idiomas-links
                        display flex
                        position absolute
                        height 40px
                        padding-top 29px
                        visibility hidden
                        a.link
                            montserrat(12)
                            text-transform uppercase
                            border 0.5px solid #b2b2b2
                            width 36px
                            height 20px
                            padding-left 2px
                            color #FFF
                            display flex
                            align-items center
                            &:hover
                            &.active
                            &:focus 
                                color #31BEDA
                                font-weight 700

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 40%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 5% 0 auto
    +mobile()
        margin 10px 5% 0 auto
        height 20%
    .lines
        display block
        width 100%
        height 4px
        background-color #FFF
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #FFF
            transition .3s ease
            border-radius 3px
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            z-index 9999
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 999
    padding 30px
    +mobile()
        flex-direction column
        align-items center
        padding 20px 
    .frase-cookies
        width 65%
        roboto(16, light)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +below($tablet)
            font-size 14px
        +mobile()
            width 100%
            text-align center
    .aceitar-cookies
        width 15%
        height 40px
        roboto(16, light)
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 30px
        cursor pointer
        outline none
        &:hover
        &:focus
            border 1px solid #31BEDA
            background-color #31BEDA
        +below($tablet)
            font-size 14px
            height 30px
        +mobile()
            width 100%
            text-align center
            margin-left 0
            margin-top 10px