.institucional
    width 100%
    height auto
    background-color #FFF
    position relative
    margin-bottom 50px
    .a-abint
        width 1300px
        margin 0 auto 40px auto
        display flex
        flex-direction row
        align-items flex-start
        .img-abint
            width 600px
            height 430px
            object-fit cover
            margin-top 30px
        .sobre
            margin 50px 0 0 50px
            roboto(18)
            color #313F48
            h1.titulo
                montserrat(36, bold)
                color #31BEDA
                margin 0
    .diretoria
        width 100%
        background-color #D6F2F8
        height auto
        padding 50px 0 30px 0
        .centralizado
            width 1300px
            margin 0 auto
            display flex
            flex-direction row
            align-items flex-start
            .parte-um, .parte-dois
                width 50%
                display flex
                flex-direction column
                align-items flex-start
                h1.titulo
                    montserrat(36, bold)
                    color #31BEDA
                    margin 0
                .periodo
                    montserrat(22, bold)
                    color #4040D9
                    margin 10px 0 20px 0
                h4.cargo
                    montserrat(16, bold)
                    color #4040D9
                    margin 20px 0 0 0
                h4.cargo.vice, h4.cargo.conselheiro
                    margin-top 40px
                .presidente, .vice-presidente, .diretor, .conselheiro
                    display flex
                    flex-direction row
                    align-items flex-start
                    .img-diretoria
                        width 25px
                        height 28px
                        margin 5px 10px 0 0
                    .dados
                        display flex
                        flex-direction column
                        align-items flex-start
                        margin 5px 0 0 5px
                        .nome
                            roboto(24, medium)
                            color #313F48
                            margin 0
                            line-height 1.1
                        .empresa
                            roboto(20)
                            color #313F48
                            margin 0
                .diretor
                    margin 0 0 30px 0
                .conselheiro
                    margin 0 0 20px 0
    .comites
        width 100%
        height auto
        .centralizado
            width 1300px
            margin 0 auto
            padding 60px 0 0 0
            h1.titulo
                montserrat(36, bold)
                color #31BEDA
                margin 0
            .comite
                .img-dados
                    margin 40px 0 50px 0
                    display flex
                    flex-direction row
                    align-items flex-start
                    .img-comite
                        width 300px
                        height auto
                        object-fit contain
                    .dados
                        margin 0 0 0 360px
                        h4.nome
                            montserrat(24, bold)
                            color #313F48
                            margin 0 0 10px 0
                        .website
                            montserrat(16, bold)
                            color #313F48
                            margin 0
                            &:hover
                            &:focus
                                color #31BEDA
                        .social
                            display flex
                            flex-direction row
                            align-items center
                            margin 15px 0 0 0
                            .facebook, .instagram, .linkedin
                                width 30px
                                height 30px
                                margin 0 7px 0 0
                                .img-social
                                    width 100%
                                    height 100%
                                    object-fit contain
                                    transition transform 0.2s
                                &:hover
                                    .img-social 
                                        transform rotate(360deg) scale(1.3)
                .membros
                    display flex
                    flex-direction row
                    align-items center
                    justify-content flex-start
                    flex-wrap wrap
                    margin-bottom 100px
                    .membro
                        width 310px
                        height 170px
                        border 1px solid #F2F2F2
                        padding 30px
                        margin-bottom 20px
                        margin-right 15px
                        .img-membro
                            width 100%
                            height 100%
                            object-fit contain
                            transition transform 0.3s
                        &:hover
                            .img-membro
                                transform scale(1.1)
    +below($tablet)
        .a-abint
            width 90%
            +mobile()
                flex-direction column
                align-items center
            .img-abint
                width 45%
                height 350px
                +mobile()
                    width 100% !important
                    height 300px !important
            .sobre
                margin 20px 0 0 50px
                font-size 16px
                +mobile()
                    width 100% !important
                    margin 20px 0 0 0 !important
                    font-size 14px !important
                h1.titulo
                    font-size 32px
                    +mobile()
                        font-size 24px !important
        .diretoria
            +mobile()
                padding 30px 0 !important
            .centralizado
                width 90%
                +mobile()
                    flex-direction column !important
                    align-items center !important
                .parte-um, .parte-dois
                    +mobile()
                        width 100% !important
                    h1.titulo
                        font-size 32px
                        +mobile()
                            font-size 24px !important
                    .periodo
                        font-size 18px
                        +mobile()
                            font-size 16px !important
                    h4.cargo
                        font-size 14px
                    h4.cargo.vice, h4.cargo.conselheiro
                        margin-top 40px
                    .presidente, .vice-presidente, .diretor, .conselheiro
                        .img-diretoria
                            width 22px
                            height 25px
                        .dados
                            .nome
                                font-size 20px
                            .empresa
                                font-size 16px
                    .parte-dois .cargo
                        +mobile()
                            margin 40px 0 0 0 !important
                    .diretor
                        margin 0 0 20px 0
        .comites
            .centralizado
                width 90%
                padding 50px 0 0 0
                +mobile()
                    padding 40px 0 0 0 !important
                h1.titulo
                    font-size 32px
                    +mobile()
                        font-size 24px !important
                .comite
                    .img-dados
                        margin 30px 0
                        +mobile()
                            flex-direction column !important
                        .img-comite
                            width 30%
                            +mobile()
                                width 70% !important
                        > .dados
                            margin 0 0 0 20%
                            +mobile()
                                margin 20px 0 0 0 !important
                            h4.nome
                                font-size 22px
                                +mobile()
                                    font-size 20px !important
                            .website
                                font-size 14px
                            .social
                                .facebook, .instagram, .linkedin
                                    width 25px
                                    height 25px
                    .membros
                        +mobile()
                            margin-bottom 70px !important
                        .membro
                            width 30%
                            padding 20px
                            +mobile()
                                width 45% !important
                                height 100px !important