.link-associados
    width 100%
    position relative
    .img-marcas
        width 100%
        height 150px
        object-fit cover
        transition .2s ease
        margin 60px 0 0 0
        &:hover
        &:focus
            opacity 0.8
        +below($tablet)
            height 120px
            margin 40px 0 0 0
        +mobile()
            height 80px
            margin 25px 0 0 0
    .texto-link
        width 100%
        montserrat(24, bold)
        color #FFF
        text-shadow #1d252b 0 2px 1px
        text-align center
        position absolute
        margin 0
        top -80px
        display flex
        align-items center
        justify-content center
        +below($tablet)
            font-size 20px
            top -60px
        +mobile()
            font-size 12px
            font-weight 500
            top -40px
            padding 0 35px
        .img-seta
            width 13px
            height auto
            margin-left 15px
            +below($tablet)
                width 11px
            +mobile()
                width 7px
                margin-left 8px