.pg-associados
    width 100%
    height auto
    h1.titulo
        width 1300px
        margin 50px auto 35px auto !important
        montserrat(36, bold)
        color #31BEDA
    .maquinas-equipamentos, .fabricantes-naotecidos, .convertedores-distribuidores
        width 100%
        height auto
        background-color #D6F2F8
        padding 50px 0
        .titulo-grupo
            width 1300px
            margin 0 auto 30px auto !important
            montserrat(28, bold)
            color #4040D9
        .associados
            width 1300px
            margin 0 auto !important
            display flex
            flex-direction row
            align-items center
            flex-wrap wrap
            .associado
                width 305px
                height 170px
                margin 0 20px 20px 0
                padding 30px
                background-color #FFF
                border 1px solid #F2F2F2
                .img-associado
                    width 100%
                    height 100%
                    object-fit contain
                    transition transform 0.3s
                &:hover
                    .img-associado
                        transform scale(1.1)
    .materias-primas-insumos, .fabricantes-texteis-tecnicos
        width 100%
        height auto
        background-color #FFF
        padding 50px 0
        .titulo-grupo
            width 1300px
            margin 0 auto 30px auto !important
            montserrat(28, bold)
            color #4040D9
        .associados
            width 1300px
            margin 0 auto !important
            display flex
            flex-direction row
            align-items center
            flex-wrap wrap
            .associado
                width 305px
                height 170px
                margin 0 20px 20px 0
                padding 30px
                background-color #FFF
                border 1px solid #F2F2F2
                .img-associado
                    width 100%
                    height 100%
                    object-fit contain
                    transition transform 0.3s
                &:hover
                    .img-associado
                        transform scale(1.1)
    +below($tablet)
        h1.titulo
            width 90%
            font-size 32px
            +mobile()
                font-size 24px !important
        .maquinas-equipamentos, .fabricantes-naotecidos, .convertedores-distribuidores
            padding 40px 0
            .titulo-grupo
                width 90%
                font-size 24px
                +mobile()
                    font-size 20px !important
            .associados
                width 90%
                .associado
                    width 245px
                    height 150px
                    padding 20px
                    margin 0 15px 15px 0
                    +mobile()
                        width 175px !important
                        height 100px !important
                        padding 15px !important
                        margin 0 10px 10px 0 !important
        .materias-primas-insumos, .fabricantes-texteis-tecnicos
            padding 40px 0
            .titulo-grupo
                width 90%
                font-size 24px
                +mobile()
                    font-size 20px !important
            .associados
                width 90%
                .associado
                    width 245px
                    height 150px
                    padding 20px
                    margin 0 15px 15px 0
                    +mobile()
                        width 175px !important
                        height 100px !important
                        padding 15px !important
                        margin 0 10px 10px 0 !important