.associe-se
    width 100%
    height auto
    padding-bottom 40px
    h1.titulo
        width 1300px
        margin 50px auto !important
        montserrat(36, bold)
        color #31BEDA
        +below($tablet)
            width 90%
            font-size 32px
            margin 50px auto 30px auto !important
        +mobile()
            font-size 24px
    .motivos
        width 1300px
        height auto
        margin 0 auto 70px auto
        +below($tablet)
            width 90%
            margin 0 auto 50px auto
        .titulo-motivos
            montserrat(28, bold)
            color #4040D9
            margin 0
            +below($tablet)
                font-size 24px
            +mobile()
                font-size 20px
        .itens
            width 100%
            margin 30px 0 0 0
            display flex
            align-items flex-start
            justify-content flex-start
            +mobile()
                flex-direction column
                margin 10px 0 0 0
            .left, .right
                width 50%
                +mobile()
                    width 100%
                .titulo1, .titulo2, .titulo3, .titulo4
                    montserrat(24, bold)
                    color #4040D9
                    margin 0 0 10px 0
                    +below($tablet)
                        font-size 18px
                    +mobile()
                        margin 20px 0 10px 0
                        font-size 16px
                .titulo2, .titulo4
                    margin 30px 0 10px 0
                    +below($tablet)
                        margin 20px 0 10px 0
                .texto1, .texto2, .texto3, .texto4
                    roboto(18)
                    color #313F48
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        font-size 12px
                    > p
                        margin 0 0 20px 0
                        line-height 1.5
                        +below($tablet)
                            margin 0 0 15px 0
                        > a
                            color #008FD5
                            &:hover
                                text-decoration underline
                    > ul 
                        list-style disc
                        list-style-position outside
                        margin 0 0 20px 20px
                        padding-left 0
                        line-height 1.5
                        +below($tablet)
                            margin 0 0 15px 15px
                        li
                            line-height 1.5
                            margin 0
                    > ol
                        list-style-position outside
                        margin 0 0 20px 20px
                        padding-left 0
                        line-height 1.5
                        +below($tablet)
                            margin 0 0 15px 15px
                        li
                            line-height 1.5
                            margin 0
            .left
                padding-right 70px
                +below($tablet)
                    padding-right 50px
                +mobile()
                    padding-right 0
            .right
                padding 0 30px 0 50px
                +below($tablet)
                    padding 0
    .missao-visao-pilares
        width 100%
        height auto
        background-color #D6F2F8
        padding 40px 0
        +mobile()
            padding 30px 0
        .centralizado
            width 1300px
            height auto
            margin 0 auto
            display flex
            align-items flex-start
            justify-content flex-start
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
            .missao, .visao, .pilares
                width 21%
                height auto
                margin 0 50px 0 0
                display flex
                flex-direction column
                align-items flex-start
                +below($tablet)
                    margin 0 30px 0 0
                +mobile()
                    width 100%
                    margin 0 0 30px 0
                    align-items center
                .imagem-item
                    width 160px
                    height 160px
                    border-radius 50%
                    background-color #FFF
                    padding 10px
                    display flex
                    align-items center
                    justify-content center
                    +below($tablet)
                        width 130px
                        height 130px
                        padding 35px
                    +mobile()
                        width 100px
                        height 100px
                        padding 25px
                    .img-icone
                        width auto
                        max-width 100%
                        height auto
                        object-fit contain
                .titulo-item
                    montserrat(24, bold)
                    color #31BEDA
                    margin 25px 0 15px 0
                    +below($tablet)
                        font-size 20px
                        margin 15px 0
                    +mobile()
                        font-size 18px
                        margin 15px 0 10px 0
                .texto-item
                    montserrat(16, medium)
                    color #313F48
                    +below($tablet)
                        font-size 12px
                    > p
                        margin 0 0 20px 0
                        line-height 1.3
                        +below($tablet)
                            margin 0 0 15px 0
                        > a
                            color #008FD5
                            &:hover
                                text-decoration underline
                    > ul 
                        list-style disc
                        list-style-position outside
                        margin 0 0 20px 20px
                        padding-left 0
                        line-height 1.3
                        +below($tablet)
                            margin 0 0 15px 15px
                        li
                            line-height 1.3
                            margin 0
                    > ol
                        list-style-position outside
                        margin 0 0 20px 20px
                        padding-left 0
                        line-height 1.3
                        +below($tablet)
                            margin 0 0 15px 15px
                        li
                            line-height 1.3
                            margin 0
            .pilares
                width calc("100% - 21% - 21% - 50px - 50px")
                margin 0
                +below($tablet)
                    width calc("100% - 21% - 21% - 30px - 30px")
                +mobile()
                    width 100%
    .comites-tecnicos
        width 1300px
        height auto
        margin 80px auto
        +below($tablet)
            width 90%
            margin 50px auto
        h2.titulo-comites
            montserrat(36, bold)
            color #31BEDA
            margin 0 0 35px 0
            +below($tablet)
                font-size 28px
                margin 0 0 25px 0
            +mobile()
                font-size 24px
                margin 0 0 20px 0
        .comite
            width 100%
            display flex
            flex-wrap wrap
            align-items flex-start
            justify-content flex-start
            margin 0 0 60px 0
            +below($tablet)
                margin 0 0 50px 0
            .capa-comite
                width 100%
                height auto
                display flex
                align-items flex-start
                justify-content flex-start
                margin 0 0 30px 0
                +below($tablet)
                    margin 0 0 25px 0
                +mobile()
                    margin 0 0 20px 0
                .img-comite
                    width auto
                    max-width 300px
                    height auto
                    object-fit contain
                    +below($tablet)
                        max-width 250px
                    +mobile()
                        max-width 60%
            .left
                width 50%
                padding-right 70px
                +below($tablet)
                    padding-right 50px
                +mobile()
                    width 100%
                    padding-right 0
                .nome
                    montserrat(24, bold)
                    color #313F48
                    margin 0 0 10px 0
                    +below($tablet)
                        font-size 18px
                    +mobile()
                        font-size 16px
                .website
                    montserrat(16, bold)
                    color #313F48
                    margin 0
                    +below($tablet)
                        font-size 12px
                    &:hover
                        color #31BEDA
                .social
                    display flex
                    flex-direction row
                    align-items center
                    margin 15px 0 0 0
                    +mobile()
                        margin 15px 0
                    .facebook, .instagram, .linkedin
                        width 30px
                        height 30px
                        margin 0 7px 0 0
                        .img-social
                            width 100%
                            height 100%
                            object-fit contain
                            transition transform 0.2s
                        &:hover
                            .img-social 
                                transform rotate(360deg) scale(1.3)
            .right
                width 50%
                montserrat(16, medium)
                color #313F48
                +below($tablet)
                    font-size 12px
                +mobile()
                    width 100%
                > p
                    margin 0 0 20px 0
                    line-height 1.5
                    +below($tablet)
                        margin 0 0 15px 0
    .form-associe-se
        width 1300px
        height 280px
        margin 30px auto
        background-color #31BEDA
        display flex
        flex-wrap wrap
        align-items center
        justify-content center
        +below($tablet)
            width 90%
            height 220px
            margin 20px auto
        +mobile()
            height auto
        .infos
            width 400px
            height auto
            padding-right 110px
            +below($tablet)
                width 30%
                padding-right 30px
            +mobile()
                width 100%
                padding 30px 30px 0 30px
            .titulo-form
                montserrat(36, bold)
                color #FFF
                margin 0
                +below($tablet)
                    font-size 28px
                +mobile()
                    font-size 24px
                    text-align center
            .frase-form
                roboto(22, medium)
                color #FFF
                margin 15px 0 0 0
                line-height 1.2
                +below($tablet)
                    font-size 16px
                    margin 10px 0 0 0
                +mobile()
                    font-size 14px
                    text-align center
        form
            width auto
            height auto
            display flex
            align-items flex-start
            justify-content center
            +below($tablet)
                width 60%
            +mobile()
                width 100%
                padding 20px 30px
                flex-direction column
            .dados
                width 500px
                height auto
                margin-right 5px
                display flex
                flex-direction column
                align-items flex-start
                +below($tablet)
                    width 78%
                +mobile()
                    width 100%
                    margin-right 0
                input[type=text]
                input[type=email] 
                    margin 2.5px 0
                    width 100%
                    height 40px
                    padding 0 15px
                    border 1px solid #FFF
                    outline none
                    roboto(18, medium)
                    color #FFF
                    background-color transparent
                    transition all 0.3s ease
                    +below($tablet)
                        height 35px
                        padding 0 10px
                        font-size 16px
                    +mobile()
                        height 30px
                        font-size 14px
                    +placeholder()
                        color #FFF
                        background-color transparent
                        transition all 0.3s ease
                    &:hover
                    &:focus
                        border 1px solid #313F48
                        color #313F48
                        +placeholder()
                            color #313F48
            .btn-enviar-associe-se
                width 200px
                height 130px
                margin 2.5px 0
                background-color #FFF
                montserrat(20, bold)
                color #008FD5
                border none
                outline none
                cursor pointer
                display flex
                align-items center
                justify-content center
                transition background 0.5s ease-in-out
                +below($tablet)
                    width 20%
                    height 115px
                    font-size 14px
                +mobile()
                    width 100%
                    height 40px
                .img-enviar
                    margin-left 10px
                    width auto
                    height auto
                    +below($tablet)
                        margin-left 7px
                        width 12px
                &:hover
                    background-color #313F48
        clearfix()
        .flash
            display flex
            align-items center
            justify-content center
            margin 0
            width 85%
            height 40px
            montserrat(14, medium)
            padding 10px
            border-radius 0
            position relative
            > p
                margin 0
            &.flash-erro
                border 2px solid $vermelho
                background $vermelho
                color #fff
            &.flash-sucesso
                border 2px solid $verde
                background $verde
                color #fff
            +below($tablet)
                width 90%
                height 35px
                font-size 12px
            +mobile()
                margin-bottom 30px