.resultados-busca
    width 100%
    height auto
    position relative
    h1.titulo
        width 1300px
        margin 50px auto 10px auto !important
        montserrat(36, bold)
        color #31BEDA
    .resultados
        width 1300px
        margin 0 auto 50px auto
        height auto
        .resultado
            width 100%
            border-bottom 1px solid #31BEDA
            .link-resultado
                height 100%
                width 100%
                .titulo
                    montserrat(20, bold)
                    color #4040D9
                    text-transform uppercase
                    margin 0 0 15px 0
                    padding-top 30px
                .texto
                    roboto(18, medium)
                    color #313F48
                    margin 0
                    padding-bottom 30px
            &:hover
            &:focus
                background-color #D6F2F8
    .nenhum-resultado
        width 1300px 
        roboto(18, medium)
        color #313F48
        margin 30px auto 150px auto
    +below($tablet)
        h1.titulo
            width 90%
            font-size 32px
            margin-bottom 30px !important
            +mobile()
                font-size 24px !important
                margin-bottom 25px !important
        .resultados
            width 90%
            .resultado
                .link-resultado
                    .titulo
                        font-size 18px
                    .texto
                        font-size 16px
        .nenhum-resultado
            width 90% 
            font-size 16px