.pag-contato
    width 100%
    height auto
    position relative
    h1.titulo
        width 1300px
        margin 50px auto 20px auto !important
        montserrat(36, bold)
        color #31BEDA
    .contato
        width 1300px
        margin 0 auto 60px auto
        display flex
        flex-direction row
        align-items flex-start
        .infos
            width 280px
            display flex
            flex-direction column
            margin 0 120px 0 0
            .telefone
                montserrat(24)
                font-weight 800
                color #008FD5
                margin 0 0 8px 0
                &:hover
                &:focus
                    opacity 0.8
            .endereco
                roboto(18, medium)
                color #313F48
                margin 25px 0
                line-height 1.2
        form
            width calc("100% - 280px - 120px")
            display flex
            flex-direction row
            align-items flex-start
            .dados
                display flex
                flex-direction column
                input[type=text]
                input[type=email] 
                    margin 2px 0
                    width 400px
                    height 50px
                    padding 0 10px
                    border 1px solid #31BEDA
                    outline none
                    roboto(18, medium)
                    color #313F48
                    background-color #FFF
                    +placeholder()
                        color #313F48
                        background-color #FFF
                    &:hover
                    &:focus
                        border 2px solid #31BEDA
                        font-weight 700
            textarea
                margin 2px 4px
                width 400px
                height 158px
                padding 10px 10px
                border 1px solid #31BEDA
                outline none
                resize none
                roboto(18, medium)
                color #313F48
                background-color #FFF
                +placeholder()
                    color #313F48
                    background-color #FFF
                &:hover
                &:focus
                    border 2px solid #31BEDA
                    font-weight 700
            .btn-contato
                margin 2px 0
                width 90px
                height 158px
                border 1px solid #31BEDA
                border-radius 0
                background-color #FFF
                outline none
                transition 0.3s ease
                &:hover
                &:focus
                    background-color rgba(49, 190, 218, 0.5)
            clearfix()
            .flash
                display flex
                flex-direction column
                align-items center
                justify-content space-around
                margin 0
                width 900px
                height 160px
                montserrat(16, medium)
                padding 10px
                border-radius 0
                position absolute
                > p
                    margin 0
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff
                +below($tablet)
                    montserrat(12, medium)
                    height 60px
    .contato-mapa
        width 100%
        height 600px
        iframe 
            width 100%
            height 100%
    +below($tablet)
        h1.titulo
            width 90%
            font-size 32px
            +mobile()
                font-size 24px !important
        .contato
            width 90%
            +mobile()
                flex-direction column !important
            .infos
                width 27%
                margin 0 8% 0 0
                +mobile()
                    width 100% !important
                    margin 0 !important
                .telefone
                    font-size 20px
                    +mobile()
                        font-size 18px !important
                .endereco
                    font-size 16px
                    +mobile()
                        margin 15px 0 25px 0 !important
            form
                width 65%
                +mobile()
                    width 100% !important
                    flex-direction column !important
                .dados
                    width 50%
                    +mobile()
                        width 100% !important
                    input[type=text]
                    input[type=email] 
                        width 100%
                        height 40px
                        font-size 16px
                textarea
                    width 40%
                    height 128px
                    font-size 16px
                    +mobile()
                        width 100% !important
                        height 150px !important
                        margin 2px 0 !important
                .btn-contato
                    width 10%
                    height 128px
                    +mobile()
                        width 100% !important
                        height 50px !important
                        margin 6px 0 !important
                clearfix()
                .flash
                    width 60%
                    height 130px
                    font-size 14px
                    +mobile()
                        width 90% !important
                        height 345px !important
        .contato-mapa
            height 450px