.home
    width 100%
    height auto
    position relative
    margin -135px 0 40px 0
    +below($tablet)
        margin -125px 0 30px 0
    +mobile()
        margin -90px 0 30px 0 !important
    .banners
        position relative
        width 100%
        height auto
        margin 0 0 10px 0
        padding 0
        z-index 1
        img.cycle-pager
            width 17px
            height auto
            position absolute
            right calc("(100% - 1300px) /2")
            top 50%
            z-index 9999
            cursor pointer
            +below($tablet)
                right 5%
            +mobile()
                top 47%
            &:hover
            &:focus
                opacity 0.6
        .banner
            width 100%
            height 680px
            top 0
            left 0
            background-size cover
            background-position center
            object-fit cover
            +below($tablet)
                height 560px
            +mobile()
                height 250px
            .textos-banners
                width 1300px
                margin 0 auto
                top 43%
                display flex
                flex-direction row
                align-items flex-start
                justify-content center
                position relative
                +below($tablet)
                    width 90%
                +mobile()
                    justify-content flex-start
                .frase-banner
                    width 57%
                    margin 0 0 0 8%
                    float left 
                    text-align end
                    roboto(54)
                    color #FFF
                    text-shadow #313F48 -2px 2px 1px
                    +below($tablet)
                        font-size 40px
                        width 60%
                        margin 0 0 0 5%
                    +mobile()
                        width 68%
                        font-size 18px
                        margin 0
                        padding 0
                .itens-banner
                    width 40%
                    margin 25px 0 0 0
                    padding 0 20px 0 9%
                    float right  
                    display flex
                    flex-direction column
                    align-items flex-start
                    +below($tablet)
                        width 35%
                        padding 0 20px 0 7%
                    +mobile()
                        display none
                    .item-banner
                        width 100%
                        margin 1px 0
                        roboto(16, medium)
                        color #424E5B
                        line-height 1.2
                        text-transform lowercase
                        +below($tablet)
                            font-size 14px
    .home-destaques
        width 100%
        height auto
        padding 35px 0
        background-color #D6F2F8
        position relative
        .centralizado
            width 1300px
            height 100%
            margin 0 auto
            position relative
            +below($tablet)
                width 90%
            #next
                position absolute
                top 50%
                right -10px
                cursor pointer
                z-index 999
            #prev
                position absolute
                top 50%
                left -10px
                transform rotate(180deg)
                cursor pointer
                z-index 999
            .destaque-row
                width 100%
                height 100%
                display flex !important
                flex-direction row
                flex-wrap wrap
                align-items center
                justify-content center
                position relative
                .link-destaque
                    width auto
                    max-width calc("(100% - 35px - 35px - 35px) / 3")
                    height 250px
                    box-shadow 0 0 10px 3px #D6F2F8
                    transition 0.5s ease-in-out
                    margin 0 17.5px 0 17.5px
                    position relative
                    +mobile()
                        max-width 75%
                        height auto
                    .img-destaque
                        width auto
                        max-width 100%
                        height 100%
                        object-fit contain 
                        +mobile()
                            width 100%
                            max-height 200px
                    &:hover
                        box-shadow 0 0 10px 3px #31BEDA
    .home-novidades
        width 100%
        margin 50px auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        border-top 2px solid #98DFED
        +mobile()
            flex-direction column
        :nth-child(3n)
            border-right 2px solid #98DFED
            +mobile()
                border-right none
        .novidade
            width 435px
            height 410px
            margin 25px 0 15px 0
            padding 0 30px
            display flex
            flex-direction column
            align-items flex-start
            border-left 2px solid #98DFED
            +below($tablet)
                width 30%
                height 360px
                padding 0 25px
            +mobile()
                width 75%
                height auto
                padding 25px 0
                margin 0
                border-left none
                border-bottom 2px solid #98DFED
            .img-novidade
                width 370px
                height 200px
                object-fit cover
                +below($tablet)
                    width 100%
                    height 160px
            .titulo-novidade
                montserrat(24, medium)
                color #313F48
                margin 20px 0 0 0
                line-height 1.2
                +below($tablet)
                    font-size 18px
                    margin 15px 0 0 0
            .data-novidade
                montserrat(16, medium)
                color #313F48
                margin 15px 0 25px 0
                border none
                +below($tablet)
                    font-size 14px
                    margin 15px 0 20px 0
            .btn-info
                display flex
                align-items center
                .mais-informacoes
                    width 150px
                    height 30px
                    background-color #31BEDA
                    roboto(14)
                    color #FFF
                    display flex
                    align-items center
                    justify-content center
                    transition all .3s ease-in-out
                    +below($tablet)
                        width 120px
                        font-size 12px
                .triangulo
                    border-top 15px solid transparent
                    border-left 15px solid #31BEDA
                    border-bottom 15px solid transparent
                    transition all .3s ease-in-out
                &:hover
                &:focus
                    .mais-informacoes
                        background-color #313F48
                        opacity 0.6
                    .triangulo
                        border-left 15px solid #313F48
                        opacity 0.6
    .home-objetivos
        width 100%
        height auto
        background-color #D6F2F8
        position relative
        margin 0
        padding 60px 0 50px 0
        +below($tablet)
            padding 50px 0
        h1.titulo
            montserrat(36, bold)
            color #31BEDA
            margin 0
            text-align center
            +below($tablet)
                font-size 28px
            +mobile()
                font-size 24px
        .objetivos
            width 1300px
            margin 60px auto 0 auto
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            +below($tablet)
                width 90%
                margin 50px auto 0 auto
            +mobile()
                margin 30px auto 0 auto
                justify-content center
                align-items flex-start
                flex-wrap wrap
            .objetivo
                width 200px
                height 250px
                +below($tablet)
                    width 18%
                    height auto
                +mobile()
                    width 32%
                .img-objetivo
                    margin 0 20px
                    width 160px
                    height 160px
                    border-radius 50%
                    +below($tablet)
                        width 120px
                        height 120px
                    +mobile()
                        width 80%
                        height auto
                        margin 0 10%
                .titulo-objetivo
                    width 100%
                    text-align center
                    montserrat(16, medium)
                    color #313F48
                    text-transform lowercase
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        font-size 12px
    .saiba-mais
        width 100%
        height 70px
        background-color #31BEDA
        display flex
        align-items center
        justify-content center
        cursor pointer
        transition .3s ease 
        +below($tablet)
            height 60px
        .saiba-mais-abint
            roboto(24, medium)
            color #FFF
            +below($tablet)
                font-size 20px
                display flex
            +mobile()
                font-size 18px
            .img-saiba-mais
                margin-left 10px
                width 10px
                height auto
                +below($tablet)
                    width 7px
        &:hover
        &:focus
            background-color #313F48
            opacity 0.6
    .informacao
        width 100%
        height auto
        position relative
        padding 30px 0 0 0
        +below($tablet)
            padding 15px 0 0 0
        .comites
            width 1300px
            margin 40px auto
            display flex
            flex-direction row
            align-items center
            justify-content center
            position relative
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
                margin 20px auto
            .linha-comites
                border 1px solid #4040D9
                width 100vw
                margin 0
                position absolute
                top 50%
                z-index 1
            .comite
                width 400px
                height 140px
                border 1px solid #4040D9
                border-radius 10px
                background-color #FFF
                display flex
                align-items center
                justify-content center
                margin 0 20px
                z-index 9
                position relative
                +below($tablet)
                    width 350px
                    height 120px
                +mobile()
                    width 80%
                    height 90px
                    margin 10px 0
                .img-comite
                    width 300px
                    height 80%
                    margin auto
                    object-fit contain
                    transition .3s ease 
                    +below($tablet)
                        width 80%
                    +mobile()
                        width 90%
                &:hover
                &:focus
                    .img-comite
                        opacity 0.8
        .itens-conteudo
            width 1300px
            margin 40px auto 20px auto
            display flex
            flex-direction row
            align-items center
            justify-content center
            position relative
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
                margin 20px auto
            .linha-itens
                border 1px solid #4040D9
                width 100vw
                margin 0
                position absolute
                top 50%
                z-index 1
                +mobile()
                    width unset
                    height 100%
                    top 0
            .item-conteudo
                width 280px
                height 180px
                display flex
                align-items center
                justify-content center
                margin 0 20px
                z-index 2
                position relative
                +below($tablet)
                    width 230px
                    height 150px
                +mobile()
                    width 80%
                    height 90px
                    margin 10px 0
                .img-conteudo
                    width 100%
                    height 100%
                    border-radius 10px
                    object-fit contain
                    transition .3s ease 
                    +mobile()
                        object-fit cover
                span.titulo
                    montserrat(24)
                    font-weight 600
                    color #FFF
                    position absolute
                    +below($tablet)
                        font-size 20px
                    +mobile()
                        font-size 18px
                &:hover
                &:focus
                    .img-conteudo
                        filter grayscale(60%)

                