.informacao
    width 100%
    height auto
    position relative
    padding 50px 0 30px 0
    h1.titulo
        width 1300px
        margin 0 auto
        montserrat(36, bold)
        color #31BEDA
        +below($tablet)
            width 90%
            font-size 32px
        +mobile()
            font-size 24px
    .centralizado
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
        .submenu
            width 400px
            margin 25px 100px 50px 0
            display flex
            flex-direction column
            align-items flex-start
            +below($tablet)
                width 32%
                margin 25px 75px 40px 0
            +mobile()
                width 100%
                margin 25px 0
            .link, .link-show
                width 100%
                montserrat(20, bold)
                color #4040D9
                padding 8px 0
                border-bottom 1px solid #31BEDA
                transition .3s ease
                +below($tablet)
                    font-size 18px
                +mobile()
                    font-size 16px
                &:hover
                &:focus
                &.active
                    color #FFF
                    background-color #31BEDA
        .conteudo
            width 800px
            margin 25px 0
            position relative
            +below($tablet)
                width 68%
            +mobile()
                width 100%
            h2.titulo
                montserrat(28, bold)
                color #4040D9
                text-transform uppercase
                margin 0 0 25px 0
                +below($tablet)
                    font-size 24px
                +mobile()
                    font-size 20px
            .publicacao, .norma-ensaio
                width 100%
                height 290px
                padding 10px
                background-color #31BEDA
                display flex
                flex-direction row
                align-items flex-start
                margin 0 0 30px 0
                position relative
                transition background .5s ease-in-out
                +below($tablet)
                    height 250px
                +mobile()
                    height auto
                    margin 0 0 20px 0
                    padding 15px
                    flex-direction column
                    align-items center
                .img-publicacao, .img-norma-ensaio
                    width 200px
                    height 100%
                    object-fit cover
                    +below($tablet)
                        width 170px
                    +mobile()
                        width 130px
                .dados
                    height 100%
                    display flex
                    flex-direction column
                    align-items flex-start
                    justify-content center
                    padding 0 50px 0 30px
                    +mobile()
                        padding 15px 20px 40px 15px
                    .titulo
                        montserrat(24, bold)
                        color #FFF
                        margin 0 0 25px 0
                        +below($tablet)
                            font-size 20px
                        +mobile()
                            font-size 18px
                            margin 0 0 15px 0
                            width 100%
                            text-align center
                    .descricao
                        roboto(18, medium)
                        color #313F48
                        margin 0
                        transition .5s ease
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 13px
                            text-align center
                        > p
                            line-height 1.2
                            margin 0 0 20px 0
                            +below($tablet)
                                margin 0 0 15px 0
                .img-download
                    position absolute
                    bottom 10px
                    right 20px
                    width 35px
                    height auto
                    transition transform .5s ease
                    +below($tablet)
                        width 30px
                    +mobile()
                        width 25px
                &:hover
                    background-color #008FD5
                    .dados
                        .descricao
                            color #FFF
                    .img-download
                        transform scale(1.2)
            .curso-evento
                width 100%
                height auto
                padding 10px
                background-color #31BEDA
                display flex
                flex-direction row
                align-items flex-start
                margin 0 0 30px 0
                position relative
                transition background .5s ease-in-out
                +mobile()
                    height auto
                    margin 0 0 20px 0
                    padding 15px
                    flex-direction column
                    align-items center
                .fancybox
                    .img-curso-evento
                        max-width 280px
                        height auto
                        object-fit contain
                        +below($tablet)
                            max-width 220px
                        +mobile()
                            max-width 180px
                .dados
                    height 100%
                    display flex
                    flex-direction column
                    align-items flex-start
                    justify-content center
                    padding 15px 50px 15px 30px
                    +mobile()
                        padding 15px 20px 40px 15px
                    .titulo
                        montserrat(24, bold)
                        color #FFF
                        margin 0 0 15px 0
                        +below($tablet)
                            font-size 20px
                        +mobile()
                            font-size 18px
                            margin 0 0 15px 0
                            width 100%
                            text-align center
                    .periodo
                        roboto(18, bold)
                        color #313F48
                        margin 0
                        transition .5s ease
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 13px
                            width 100%
                            text-align center
                    .descricao
                        roboto(18, medium)
                        color #313F48
                        margin 0
                        transition .5s ease
                        +below($tablet)
                            font-size 14px
                        +mobile()
                            font-size 13px
                            text-align center
                        > p
                            line-height 1.2
                            margin 0 0 20px 0
                            +below($tablet)
                                margin 0 0 15px 0
                    .link-texto
                        roboto(18, bold)
                        color #313F48
                        margin 20px 0 0 0
                        transition .5s ease
                        +below($tablet)
                            font-size 14px
                            margin 15px 0 0 0
                        +mobile()
                            font-size 13px
                            width 100%
                            text-align center
                .icones
                    position absolute
                    bottom 10px
                    right 20px
                    display flex
                    flex-direction column
                    align-items flex-end
                    .img-visitar, .img-seta
                        width 30px
                        height auto
                        margin-top 5px
                        transition all .5s ease
                        +below($tablet)
                            width 30px
                        +mobile()
                            width 25px
                &:hover
                    background-color #008FD5
                    .dados
                        .periodo, .descricao, .link-texto
                            color #FFF
                    .icones
                        .img-visitar, .img-seta
                            margin-top 10px
                            transform scale(1.2)
            .novidade, .outro
                width 100%
                height auto
                padding 10px
                background-color #31BEDA
                display flex
                flex-direction row
                align-items flex-start
                margin 0 0 30px 0
                position relative
                transition background .5s ease-in-out
                +mobile()
                    margin 0 0 20px 0
                    padding 15px
                    flex-direction column
                    align-items center
                .img-novidade, .img-outro
                    width 300px
                    height 100%
                    object-fit cover
                    +below($tablet)
                        width 180px
                    +mobile()
                        width 130px
                .dados
                    height 100%
                    display flex
                    flex-direction column
                    align-items flex-start
                    justify-content center
                    padding 15px 50px 0 30px
                    +below($tablet)
                        padding 10px 30px 10px 20px
                    .data
                        montserrat(12, medium)
                        color #313F48
                        margin 0 0 15px 0
                        transition color .5s ease-in-out
                        +below($tablet)
                            font-size 10px
                        +mobile()
                            margin 0 0 10px 0
                            width 100%
                            text-align center
                    .titulo
                        montserrat(24, bold)
                        color #313F48
                        margin 0 0 25px 0
                        transition color .5s ease-in-out
                        +below($tablet)
                            font-size 18px
                        +mobile()
                            margin 0 0 15px 0
                            width 100%
                            text-align center
                .ler-mais
                    display flex
                    align-items center
                    position absolute
                    right 0
                    bottom 0
                    .triangulo
                        border-top 30px solid transparent
                        border-right 30px solid #E2574C
                        border-bottom 0 solid transparent
                        +below($tablet)
                            border-top 25px solid transparent
                            border-right 25px solid #E2574C
                    .retangulo
                        width 100px
                        height 30px
                        background-color #E2574C
                        roboto(12)
                        color #FFF
                        display flex
                        align-items center
                        justify-content center
                        +below($tablet)
                            width 80px
                            height 25px
                            font-size 10px
                        .img-site
                            margin-left 10px
                            width 18px
                            height auto
                            +below($tablet)
                                width 15px
                                margin-left 5px
                &:hover
                    background-color #008FD5
                    .dados
                        .data, .titulo
                            color #FFF
        #conteudoNovidadeShow, #conteudoOutroShow
            .capa-novidade, .capa-outro
                width 100%
                height auto
                object-fit cover
            .data-novidade, .data-outro
                montserrat(14)
                color #313F48
                margin 20px 0
                +below($tablet)
                    font-size 12px
                    margin 15px 0
                +mobile()
                    font-size 11px
            .titulo-novidade, .titulo-outro
                montserrat(38, medium)
                color #008FD5
                margin 0 0 50px 0
                line-height 1.3
                +below($tablet)
                    font-size 26px
                    margin 0 0 30px 0
                +mobile()
                    font-size 20px
            .texto-novidade, .texto-outro
                width 100%
                padding 0
                roboto(18)
                color #313F48
                +below($tablet)
                    font-size 14px
                +mobile()
                    font-size 13px
                > p
                    margin 0 0 20px 0
                    line-height 1.5
                    +below($tablet)
                        margin 0 0 15px 0
                    > a
                        color #008FD5
                        &:hover
                            text-decoration underline
                    > img
                        max-width 100%
                        width auto
                        height auto
                        object-fit contain
                > ul 
                    list-style disc
                    list-style-position outside
                    margin 0 0 20px 20px
                    padding-left 0
                    line-height 1.5
                    +below($tablet)
                        margin 0 0 15px 15px
                    li
                        line-height 1.2
                        margin 0
                > ol
                    list-style-position outside
                    margin 0 0 20px 20px
                    padding-left 0
                    line-height 1.5
                    +below($tablet)
                        margin 0 0 15px 15px
                    li
                        line-height 1.2
                        margin 0
            .link-download-novidade, .link-download-outro
                width 100%
                height 60px
                margin 50px 0
                padding 10px 20px
                background-color #D6F2F8
                display flex
                align-items center
                justify-content flex-start
                montserrat(16, bold)
                color #008FD5
                text-transform uppercase
                transition all .5s ease-in-out
                +below($tablet)
                    height 50px
                    margin 40px 0 30px 0
                    font-size 14px
                +mobile()
                    height 40px
                    margin 30px 0
                    font-size 10px
                .img-pdf
                    width auto
                    height auto
                    max-height 100%
                    margin-right 25px
                    transition transform .5s
                    +mobile()
                        margin-right 15px
                &:hover
                    background-color #008FD5
                    color #FFF
                    .img-pdf
                        transform scale(1.2)
            .btn-voltar-imprensa, .btn-voltar-outros
                width 185px
                height 50px
                margin 0 auto 0 0
                border 1px solid #31BEDA
                montserrat(14, bold)
                color #31BEDA
                display flex
                align-items center
                justify-content center
                transition all .5s ease-in-out
                +below($tablet)
                    width 25%
                    height 40px
                    font-size 12px
                +mobile()
                    width 40%
                    height 30px
                    margin 0 auto
                    font-size 10px
                &:hover
                    background-color #31BEDA
                    color #FFF