.naotecidos
    width 100%
    height auto
    position relative
    padding 50px 0 30px 0
    h1.titulo
        width 1300px
        margin 0 auto
        montserrat(36, bold)
        color #31BEDA
    .centralizado
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        .submenu
            width 400px
            margin 25px 100px 50px 0
            display flex
            flex-direction column
            align-items flex-start
            .link
                width 100%
                montserrat(20, bold)
                color #4040D9
                padding 8px 0
                border-bottom 1px solid #31BEDA
                transition .3s ease
                &:hover
                &:focus
                &.active
                    color #FFF
                    background-color #31BEDA
        .conteudo
            width 800px
            margin 25px 0
            h2.titulo
                montserrat(28, bold)
                color #4040D9
                margin 0 0 25px 0
            div.texto
                roboto(18)
                color #313F48
                > p
                    > img 
                        max-width 100%
                > ul 
                    margin-top 0
                    > li
                        line-height 1.5
            .alguma-aplicacao
                display flex
                margin-bottom 30px
                .img-aplicacao
                    width 150px
                    height 150px
                    object-fit cover
                .dados-aplicacao
                    margin 0 0 0 30px
                    h4.titulo
                        montserrat(18, bold)
                        color #008FD5
                        margin 5px 0
                    .texto-aplicacao
                        roboto(18, medium)
                        color #313F48
                        > p
                            margin 0
            .aplicacoes-a-z
                p.frase
                    roboto(18, medium)
                    color #313F48
                #listaLetras
                    width 100%
                    height auto
                    background-color #D6F2F8
                    padding 20px
                    display flex
                    flex-wrap wrap
                    .letra-aplicacao
                        width 49px
                        height 49px
                        montserrat(28)
                        font-weight 800
                        color #008FD5
                        border 1px solid #008FD5
                        display flex
                        align-items center
                        justify-content center
                        margin 0 5px 5px 0
                        transition .3s ease
                        &:hover
                        &:focus
                        &.active
                            background-color #008FD5
                            color #FFF
                #resultadosLetra
                    .item-aplicacao
                        > h4.titulo
                            roboto(18, bold)
                            color #313F48
                            text-transform uppercase
                            margin 30px 0 0 0
                        .lista-itens
                            margin 5px 0 0 5px
                            padding 0
                            list-style none
                            list-style-position inside
                            > li.item
                                roboto(18)
                                color #313F48
                                text-transform lowercase
                                &:before
                                    content "•"
                                    font-size 130%
                                    line-height 0
                                    margin 0 0.3rem 0 -0.25rem
                                    position relative
                                    top 0.2rem
                                    color #313F48;
    +below($tablet)
        h1.titulo
            width 90%
            font-size 32px
            +mobile()
                font-size 24px !important
        .centralizado
            width 90%
            +mobile()
                flex-direction column !important
            .submenu
                width 32%
                margin 25px 75px 40px 0
                +mobile()
                    width 100% !important
                    margin 25px 0 !important
                .link
                    font-size 18px
                    +mobile()
                        font-size 16px !important
            .conteudo
                width 68%
                +mobile()
                    width 100% !important
                h2.titulo
                    font-size 24px
                    +mobile()
                        font-size 20px !important
                div.texto
                    font-size 16px
                    +mobile()
                        font-size 14px !important
                .alguma-aplicacao
                    +mobile()
                        flex-direction column !important
                        align-items flex-start !important
                        margin-bottom 20px !important
                    .img-aplicacao
                        width 120px
                        height 120px
                        +mobile()
                            width 150px !important
                            height 150px !important
                    .dados-aplicacao
                        margin 0 0 0 20px
                        +mobile()
                            margin 10px 0 0 0 !important
                        h4.titulo
                            font-size 16px
                        .texto-aplicacao
                            font-size 16px
                            +mobile()
                                font-size 14px !important
                .aplicacoes-a-z
                    p.frase
                        font-size 16px
                    #listaLetras
                        padding 15px
                        +mobile()
                            padding 10px !important
                        .letra-aplicacao
                            width 40px
                            height 40px
                            font-size 22px
                            +mobile()
                                width 33px !important
                                height 33px !important
                                font-size 20px !important
                    #resultadosLetra
                        .item-aplicacao
                            > h4.titulo
                                font-size 16px
                                margin 25px 0 0 0
                            #itensResultadosLetra
                                > .item
                                    font-size 16px