div.politica-de-privacidade
    width 100%
    height auto
    position relative
    .centralizado
        width 1300px
        margin 50px auto
        position relative
        +below($tablet)
            width 90%
        .titulo
            width 100%
            margin 0 0 30px 0
            montserrat(36, bold)
            color #31BEDA
            text-transform uppercase
            position relative
            +below($tablet)
                font-size 32px
            +mobile()
                font-size 24px
        .texto
            width 100%
            roboto(16)
            color #313F48
            padding-right 70px
            +below($tablet)
                font-size 14px
                padding-right 0
            +mobile()
                font-size 12px
            > p
                margin 0 0 20px 0
                line-height 1.8
                +below($tablet)
                    margin 0 0 15px 0
                > a
                    font-style italic
                    &:hover
                        color $laranja
            > ul 
                list-style disc
                list-style-position outside
                margin 0 0 20px 20px
                padding-left 0
                line-height 1.8
                +below($tablet)
                    margin 0 0 15px 15px
                li
                    line-height 1.8
                    margin 0
            > ol
                list-style-position outside
                margin 0 0 20px 20px
                padding-left 0
                line-height 1.8
                +below($tablet)
                    margin 0 0 15px 15px
                li
                    line-height 1.8
                    margin 0
