.texteis-tecnicos
    width 100%
    height auto
    position relative
    padding 50px 0 30px 0
    h1.titulo
        width 1300px
        margin 0 auto
        montserrat(36, bold)
        color #31BEDA
    .centralizado
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        .submenu
            width 400px
            margin 25px 100px 50px 0
            display flex
            flex-direction column
            align-items flex-start
            .link
                width 100%
                montserrat(20, bold)
                color #4040D9
                padding 8px 0
                border-bottom 1px solid #31BEDA
                transition .3s ease
                &:hover
                &:focus
                &.active
                    color #FFF
                    background-color #31BEDA
        .conteudo
            width 800px
            margin 25px 0
            h2.titulo
                montserrat(28, bold)
                color #4040D9
                margin 0 0 25px 0
            div.texto
                roboto(18)
                color #313F48
                > p
                    > img 
                        max-width 100%
                > ul 
                    margin-top 0
                    > li
                        line-height 1.5
    +below($tablet)
        h1.titulo
            width 90%
            font-size 32px
            +mobile()
                font-size 24px !important
        .centralizado
            width 90%
            +mobile()
                flex-direction column !important
            .submenu
                width 32%
                margin 25px 75px 40px 0
                +mobile()
                    width 100% !important
                    margin 25px 0 !important
                .link
                    font-size 18px
                    +mobile()
                        font-size 16px !important
            .conteudo
                width 68%
                +mobile()
                    width 100% !important
                h2.titulo
                    font-size 24px
                    +mobile()
                        font-size 20px !important
                div.texto
                    font-size 16px
                    +mobile()
                        font-size 14px !important